button {
  margin-left: 3px;
  margin-right: 3px;
}

.rbold {
  font-size: 14px;
  font-family: monospace;
  color: maroon;
  text-align: center;
}

.gbold {
  font-size: 14px;
  font-family: monospace;
  color: green;
  text-align: center;
}

.black {
  font-size: 14px;
  font-family: monospace;
  text-align: center;
}
